* {
    background-color: rgb(255, 255, 255);
}


.login__Header {
    color: #52aeeb;
    padding: 20px;
    margin: 20px;
    position: left;
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
}

.username__form{
    height: 30px;
    width: 100px;
    background-color: white;
    position: center;
    padding: 10px;
}

.password__form{
    height: 30px;
    width: 100px;
    background-color: white;
    position: center;
    padding: 10px;
}

.submit__Button {
    position: right;
    margin-left: 65px;
    margin-top: 10px;
}